<div class="container m-4 text-center">
    <table class="table table-striped">
        <thead class="table-header">
            <tr>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Fine Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of books">
                <td>{{b.bookid}}</td>
                <td>{{b.booktitle}}</td>
                <!-- <td>{{checkout.fineamount}}</td> -->
            </tr>

            <tr>
                <td>Total Amount </td>
                <td></td>
                <td><button class="btn btn-primary">Payemnt</button></td>
            </tr>
        </tbody>
    </table>
</div>