<div class="container">
    <table class="table table-striped m-4">
        <thead class="table-header">
            <tr>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Date OF Issue</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of ">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-danger" style="margin-left: 10px;">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>